body {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nazev {
    background-color: #D9A3A3;
    padding: 2em;
}

.kontakt {
    background-color: #F2F2F2;
    padding: 2em;
}
.kontakt img {
    padding-right: 2em;   
    padding-top: 2em;
    padding-bottom: 2em;
}
.zkusenosti {
    background-color: #84798C;
    padding: 2em;
}

.vzdelani {
    background-color: #CACACA;
    padding: 2em;
}

footer {
    background-color: #F2F2F2;
    padding: 2em; 
}